.cabezera {background-color: #CC2400;width: 1024px;height: 200px;

}
.menu{background-color: #E6A205;width: 224px;height: 200px;float: left;

    }
.contenido{background-color: #FAF51A;width: 800px;height: 200px;float: left;

    }